<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        {{>header}}
        
        {{!-- <img class="portrait" src="/img/nodejs.png" > --}}
    {{!-- <h1>{{title}}</h1>    --}}
    {{!-- <p>Created by {{name}}</p> --}}
    
    {{>footer}}
</body>

</html>